LIVEKIT_URL='wss://test-6ozktoy0.livekit.cloud'
LIVEKIT_API_KEY='APIZxamcmoYJcqc'
LIVEKIT_API_SECRET='XWRq981UYJLllxLbm6tcJnE3G3CuPqeXj6shXnz9OIY'
DEEPGRAM_API_KEY='d84bac476a040573ffef33f36115697eba30212d'
OPENAI_API_KEY='sk-V2gDLM-S4dmA-_fcsXPwY4YSQvmqjz6zcCOWMPSyjfT3BlbkFJ1ymZE-lwnkIvg-pdaXXWvdGZI63d8NrHzhlbEcUdcA'
